<!-- Allows us to use launch_card.html here -->
{% from "launch_card.html" import render_launch %}
{% from "launch_card.html" import upcoming_launch %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX Launches</title>
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
<body>

    <div class="header_container">
        <img src="{{ url_for('static', filename='images/logoSpaceX2.png') }}" />
        <div>
            <h3>Launches</h3>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#successful">Successful</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#failed">Failed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#upcoming">Upcoming</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="successful" class="container tab-pane active">
            {% for launch in launches.successful %}
            {{render_launch(launch)}}
            {% endfor %}
        </div>

        <div id="failed" class="container tab-pane fade">
            {% for launch in launches.failed %}
            {{render_launch(launch)}}
            {% endfor %}
        </div>

        <div id="upcoming" class="container tab-pane fade">
            <!-- <div class="launch_card">
                <div class="first_container">
                    <p class="first_container_header">{{name}}</p>
                    <p class="first_container_text">{{text}}</p>
                </div> 
            </div> -->
            <div class="first_container">
                {% for i in range(data_length) %}
                <div class="upcoming-launch-card">
                    <p>Mission Name: {{ mission_name[i] }}</p>
                    <p>Date: {{ dates[i] }}</p>
                    <p class="missionData">{{ mission_data_list[i] }}</p>
                    <p>Description: {{ descriptions[i] }}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
            
    </div>

    <div class="footer_container">
        <h1>Footer</h1>
    </div>

</body>
</html>
